---
layout: default
---

<div class="home">

  <div>
    <p>
      This website fosters attendance to academic conferences in cryptography and security
      with more sustainable means of transports, predominantly trains.

      Are you bored of travelling alone long distances by plane?
      Would you rather be more productive working next to a fellow cryptographer, and exchanging ideas?
      Join us on this journey to sustainability!
    </p>

    <br/>
    <h2>Upcoming Conferences</h2>
    <ul>
       <li>
	 <strong><a href="{% link pqcrypto2020.markdown %}">PQCrypto 2020</a></strong>
	 <br />
	 <smpcs>April 15 - April 17, 2020; Paris, France</smpcs>.
       </li>
       <li>
	 <strong><a href="{% link pkc2020.markdown %}">PKC 2020</a></strong>
	 <br />
	 <smpcs>May 4 - May 7, 2020; Edinburgh, Scotland</smpcs>.
       </li>
       <li>
	 <strong><a href="{% link eurocrypt2020.markdown %}">Eurocrypt 2020</a></strong>
        <br />
        <smpcs>May 10 - May 14, 2020; Zagreb, Croatia</smpcs>.
       </li>
       <li>
	 <strong><a href="{% link eurosp2020.markdown %}">EuroS&P 2020</a></strong>
	 <br />
	 <smpcs>June 16 - June 18, 2020; Genova, Italy</smpcs>.
       </li>
    </ul>

    <p>For general information on this initiative and on long-distance train travel, <a href="{% link faq.markdown %}">check out the FAQ</a>.</p>
  </div>

</div>
